{%- if section.settings.show_announcement -%}
  <div class="announcement-bar" role="region" aria-label="Announcement">
    <div class="announcement-bar__marquee-container">
      <div class="announcement-bar__marquee">
        {%- for i in (1..6) -%}
          <div class="announcement-bar__marquee-item">
            <span>{{ section.settings.text }}</span>
            <span class="marquee-separator">|</span>
            <span>{{ section.settings.text_2 | default: section.settings.text }}</span>
            <span class="marquee-separator">|</span>
            <span>{{ section.settings.text_3 | default: section.settings.text }}</span>
            <span class="marquee-separator">|</span>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show Announcement",
      "default": true
    },
    {
      "type": "text",
      "id": "text",
      "label": "Announcement Text 1",
      "default": "Frete cortesia em todo o site. Aproveite!"
    },
    {
      "type": "text",
      "id": "text_2",
      "label": "Announcement Text 2",
      "default": "Sua experiência pode ser parcelada em até 10x sem juros."
    },
    {
      "type": "text",
      "id": "text_3",
      "label": "Announcement Text 3",
      "default": "5% de vantagem exclusiva no pagamento via Pix."
    }
  ]
}
{% endschema %}