<div class="rich-text rich-text--{{ section.settings.bg_color }} section-padding">
  <div class="rich-text__wrapper page-width page-width--narrow text-center">
    {%- if section.settings.title != blank -%}
      <h2 class="rich-text__heading font-heading-style h2">
        {{ section.settings.title | escape }}
      </h2>
    {%- endif -%}
    {%- if section.settings.content != blank -%}
      <div class="rich-text__content rte">
        {{ section.settings.content }}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Rich Text",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "The Essence of Amoura"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Amoura Fragrances bridges the gap between raw natural complexity and high-end sophistication. Our genderless blends are bottled at high concentrations to assure long-lasting wear. Handcrafted, cruelty-free, and proudly shipped from Ireland.</p>"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Background Color",
      "options": [
        { "value": "primary", "label": "Primary Background" },
        { "value": "secondary", "label": "Secondary Background" }
      ],
      "default": "primary"
    }
  ],
  "presets": [
    {
      "name": "Rich Text"
    }
  ]
}
{% endschema %}
